.slide-item {
  background: none !important;
  /* width: 0% !important; */
}
.hoverimg-slider {
  display: none;
  position: absolute;
  top: 40%;
  right: 10%;
}

.main-img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.main-img:hover + .hoverimg-slider {
  display: block;
  transition: 0.5s;
}
