@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  body {
    font-family: "Fredoka", sans-serif, serif;
  }
}
body {
  background-color: #fff;
}
::selection {
  background: #333;

  color: white;
}

.bg-none-card {
  background: none !important;
}

::-webkit-scrollbar-thumb {
  background-color: #15bfb4;
}
::-webkit-scrollbar {
  /* background-color: red; */
  width: 10px;
}
.animation-time-callapse {
  transition: 5s;
}
.slider-item-our {
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 35px;
}
.slider-item-our::-webkit-scrollbar {
  display: none;
}
.scs-ali {
  scroll-snap-align: start;
}

